<style>
/* Contact */
#contact .info {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}
#contact .item {
  flex: 1;
  min-width: 200px;
  text-align: center;
}
#contact .item i {
  font-size: 1.5rem;
  color: var(--accent);
  margin-bottom: 0.5rem;
}
</style>

<section id="contact">
  <div class="container">
    <h2 style="text-align:center;">Get In Touch!</h2>
    <div class="info">
      <div class="item">
        <i class="fas fa-map-marker-alt"></i>
        <h3>Address</h3>
        <p>
          {% for line in site.address %}
            {{ line }}<br>
          {% endfor %}
        </p>
      </div>
      <div class="item">
        <i class="fas fa-phone"></i>
        <h3>Phone</h3>
        <p>
          <a href="tel:{{ site.phone.ie64 }}" style="color:var(--accent-color);">
            {{ site.phone.display }}
          </a>
        </p>
      </div>
      <div class="item">
        <i class="fas fa-clock"></i>
        <h3>Hours</h3>
        <p>
          {% for times in site.hours %}
            {{ times }}<br>
          {% endfor %}
        </p>
      </div>
    </div>
  </div>
</section>
