<footer>
  <div class="container footer-cols">
    <div class="col">
      <h4>Services</h4>
      <ul>
        {% for service in site.services %}
          <li>{{ service.name }}</li>
        {% endfor %}
      </ul>
    </div>
    <div class="col">
      <h4>Locations</h4>
      <ul>
        {% for location in site.locations %}
          <li>{{ location.name }}</li>
        {% endfor %}
      </ul>
    </div>
    <div class="col">
      <h4>Hours</h4>
      <ul>
        {% for day in site.hours %}
          <li>{{ day.hours }}</li>
        {% endfor %}
      </ul>
    </div>
    <div class="col">
      <h4>Contact</h4>
      <p><i class="fas fa-phone"></i> {{ site.phone.display }}</p>
      <p><i class="fas fa-envelope"></i> {{site.email }}</p>
    </div>
  </div>
</footer>

