<nav>
    <div class="container">
      {% include logo.html %}
      <ul>
        <li><a href="#services">Services</a></li>
        <li><a href="#locations">Locations</a></li>
        <li><a href="#moving-tips">Moving Tips</a></li>
        <li><a href="#about-us">About Us</a></li>
      </ul>
      <div class="actions">
        <a href="#quote" class="btn btn-red">Get My Quote</a>
        <a href="tel:{{ site.phone | remove: ' ' }}" style="color:var(--accent-color); font-weight:600;">
          <i class="fas fa-phone"></i> {{ site.phone }}
        </a>
      </div>
    </div>
  </nav>
  
